framework.pdf
src/tests/random_numbers/rand.png
src/tests/random_numbers/randn.png
src/initial/output-test
src/initial/galaxy.param-usedvalues
src/initial/plummer_*
src/initial/mmond-output
src/initial/Gadget2-MMOND
src/examples/output
src/examples/plummer.dat
src/initial/plummer.dat
src/initial/output
src/initial/output-MMOND
src/initial/analyse
src/initial/analysis.txt
src/initial/r_curve*
src/initial/rotation_curve*
output/
src/ic/noCDM100.dat
src/initial/mond_galaxy.param
src/initial/mond_galaxy.param-usedvalues
docs/ISLENT开发手册.pdf
docs/README中文.pdf
docs/开发文档.pdf
plummer.dat
.vscode/settings.json
stty.exe.stackdump


# Doc
*.aux
*.fdb*
*.fls
*.out
*.log
*.syn*
*.toc
*.pdf
*.blg
*.bbl
.vscode/launch.json


Manual/test/builddir
src/examples/snapshot_9999
src/examples/output_1/density_0.png
src/examples/output_1/information_0.csv
src/examples/output_1/rotation_curve_0.png
src/examples/output_1/velocity_0.csv
src/examples/output_1/x_y_0.png
GUI/imgui.ini

*.cov
docs/build
examples/01-basic/output
examples/02-binary/output
examples/03-bgforce/output
examples/04-plummer/output
examples/05-plummerGPU/output
examples/06-MOND/output
examples/07-VoronoiMesh/output
examples/dict-table-timing.csv
examples/profiling

examples-test
examples/HoudiniNiagara.hcsv
Manifest.toml
examples/06-MOND/density.csv
examples/08-profiling/density.csv
examples/15-gadget/radialforce.csv
examples/15-gadget/rotationcurve.csv
examples/15-gadget/radialpotential.csv
examples/15-gadget/radii.csv
examples/16-galaxies/dice_spiral.params.*
*.param-usedvalues
examples/16-galaxies/forcetest.dat
Benchmark/thread_time.dat
examples/08-TrajectoryLookback/output*
